<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yichen.mapper.ChessMapper">
	<resultMap type="ChessVo" id="chessResultMap">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="delFlag" column="del_flag" />
		<result property="addTime" column="add_time" />
		<result property="addUserId" column="add_user_id" />
	</resultMap>

	<!-- 查询数据 -->
	<select id="querChess" resultMap="chessResultMap">
		SELECT a.id,a.name FROM t_chess a
	</select>

	<!-- 添加数据 -->
	<insert id="insertChess">
		insert into t_chess(id,name,del_flag,add_time,add_user_id) values (#{id},#{name},0,now(),1)
	</insert>

	<!-- 删除数据 -->
	<delete id="delChess">
		delete from t_chess where id = #{id};
	</delete>

	<!-- 修改数据 -->
	<update id="updateChess">
		update t_chess set name = #{name},del_flag=0,add_time=now(),add_user_id=1 where id=#{id}
	</update>

	<!-- 通过id查询 -->
	<select id="queryChessById" resultMap="chessResultMap">
		select a.id, a.name from t_chess a
		where a.id = #{id}
	</select>

</mapper>