ul,ol,li{list-style:none;}
a{color:#333;text-decoration:none;}
a:hover{color:#c00; text-decoration:underline;}
#headm{ float:right; margin-top:7px; background:url(../images/nav.png); width:770px; height:50px;}
#headm li{text-align: center; float:left; margin:0 10px; display:inline;}
#headm .dh{ position:relative; float:left;}
#headm .dh2 ul{ width:340px;}
#headm .topa{z-index:5; position: relative; padding:12px 29px; line-height:29px; display: block; height:28px; color: #fff; overflow: hidden;border-top:none; border-bottom:none; float:left;}
#headm .topa:hover{border-bottom:none;}
#headm li ul{z-index: 100; border-bottom: #c9c9c9 1px solid; position: absolute; border-left: #c9c9c9 1px solid; padding-bottom: 10px; padding-left: 0px; width: 150px; padding-right: 0px; display: none; background: #fff; border-top: #c9c9c9 1px solid; top:28px; border-right: #c9c9c9 1px solid; padding-top:2px; left: 0px}
#headm li ul li{ line-height: 26px; padding-left:5px; width: 120px; padding-right: 15px; float: left; height: 26px; font-weight: 400; padding-top: 0px}
#headm li ul li a{line-height: 26px; border:none; background: none; height:26px; color: #6e6e6e;  float:left;}
#headm li ul li a:hover {line-height: 26px;text-decoration: underline}
#headm li.show ul{display: block}
#headm li.show .topa{display: block; border-bottom:none; text-decoration: none;padding-top: -120px;}